.main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1em;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.countsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2em;
}

.mintBtn {
  height: 4em;
  width: 300px;
  font-size: 16px;
  font-weight: 600;
  padding: 0 24px;
  background-color: yellowgreen;
  cursor: pointer;
}

.mintBtn:not(:disabled):hover {
  background-color: #aef643;
}

.mintMsg {
  padding: 2em;
  border: 1px dotted;
}

.mintMsgClose {
  float: right;
  border-radius: 10px;
  padding: 2px 5px;
  border: none;
  background-color: lightgray;
  cursor: pointer;
  margin-left: 1em;
}

.loadingDots {
  font-weight: bold;
  line-height: 1px;
  font-size: 40px;
  animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

.success {
  text-align: center;
  border-radius: 5px;
  border: 1px solid;
  padding: 1em;
}

.success:hover {
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}